VITE_SUPABASE_URL=https://nuiyufralpvbumraieka.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51aXl1ZnJhbHB2YnVtcmFpZWthIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzNTU5NjMsImV4cCI6MjEwMDkzMTk2M30.gv3REx2-h5hEEf5oG5yXAmGXoXfCbnubvSrVNuSh7uA
KAYAK_API_KEY=1A824E4E-8C17-48B4-4569-29AAE0BE445F
