KAYAK_API_KEY=1A824E4E-8C17-48B4-4569-29AAE0BE445F
FXP_API_KEY=fxp_live_xxx
FXP_WEBHOOK_SECRET=whsec_xxx
PAYSTACK_SECRET_KEY=sk_test_xxx
SMTP_HOST=mail.yourdomain.com
SMTP_PORT=465
SMTP_USER=info@yourdomain.com
SMTP_PASS=your_email_password
ADMIN_EMAIL=admin@yourdomain.com
